*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nav-height: 94px; 
    --nav-social-icon-size: 35px;
    --nav-bg-color : white;
 }

.agromap-top-nav{
    height: var(--nav-height);
}

.nav-icon{
    height: 100%;
    padding-left: 10px;
    border-left: 2px solid black;
}

header .menu-bars-icon{
    height: 20px;
}


.nav-icon ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-icon ul li a img{
    height: 35px;
}


.menu-form{
    height: 68px;
    background-color: #2D2D2D;
    width: 100vw;
    display: flex;
    align-items: center;
}


.menu-form p{
    color: white;
}

.menu-form select{
    width: 120px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    margin: 0 10px;
}

.left-sidebar{
    background-color: #585858;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    z-index: 990;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100px;
    left: 0;
}

.left-sidebar a{
    margin: 20px 0px;
    display: block;
}

.left-sidebar a img{
    height: 35px;
}

@media only screen and (max-width: 992px){
    .agromap-top-nav{
        height: auto;
    }

    .nav-icon ul{
        gap: 20px;
    }

    .nav-icon{
        border-left: none;
    }
}