*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --nav-height: 94px; 
    --nav-form : 60px;
    --nav-social-icon-size: 35px;
    --nav-bg-color : white;
 }

 .agromap-logo{
    margin-right: 0rem !important;
 }

 .agromap-logo img{
    width: 260px;
 }

.agromap-top-nav{
    height: var(--nav-height);
}

.nav-icon{
    height: 100%;
    padding-left: 10px;
    border-left: 2px solid black;
}

.menu-bars-icon{
    height: 20px;
}

.left-side-menu{
    border: none;
}

.left-side-menu:active{
    border: none;
}


.nav-icon ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-icon ul li a img{
    height: 35px;
}


.menu-form{
    height: 68px;
    background-color: #2D2D2D;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    transition: 0.5s;
}

.menu-form div{
    padding: 0;
}


.menu-form p{
    color: white;
    text-align: center;
    vertical-align: middle;
}


.menu-form select{
    width: 120px;
    background-color: white;
    padding: 5px 0px;
    border-radius: 15px;
}

.left-sidebar{
    margin-top: var(--nav-height) ;
    background-color: #585858;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    z-index: 990;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 0;
    left: 0;
    transition: 0.5s;
}

.left-sidebar a{
    margin: 20px 0px;
    display: block;
}

.left-sidebar a img{
    height: 35px;
}



.myright-sidebar{
    background-color: white;
    display: flex;
    overflow-x: hidden; 
    width: 0px; 
    /* float: right;  */
    height: calc(100vh - 94px);
    transition: 0.5s;
    right: 0;
    top: 94px;
    position: absolute;
}

.myright-sidebar .right-side-col{
    border: 1px solid black;
    text-align: center;
    
}

.myright-sidebar .right-side-col p{
    margin-bottom: 0 !important;
}

.myright-sidebar .right-side-col img{
    padding: 10px;
}


@media only screen and (max-width: 992px){
     .agromap-top-nav{
        height: auto;
    }

    .nav-icon ul{
        gap: 20px;
    }

    .nav-icon{
        border-left: none;
    }

    .myright-sidebar{
        top: 111px;
    }
}

@media only screen and (max-width: 999px){
    .menu-form div{
        flex-basis: 100%;
        width: 100%;
    } 
    
    .menu-form select{
        width: 100%;
    }

    .menu-form{
        height: auto;
        padding: 10px 5px;
        gap: 15px;
    }
}

@media only screen and (max-width: 370px) {
    .agromap-top-nav{
        padding: 0 5px !important;
    }

    .agromap-logo img{
        width: 200px;
     }
}